<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
  <img src="https://http.cat/404">
    <p>You have typed in an incorrect short URL. Please try again <a href="/urls">here.</a></p>
  </body>
  </body>
</html>