<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h1>Welcome, Please Login!</h1>
    <form action="/login" method="POST">
      <p>
        <label for="email">Email</label>
        <input type="email" name="email">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password">
      </p>
      <p>
        <button type='submit'>Log In</button>
      </p>
      <p> If you don't have an account with us, please <a href="/register">Register</a></p>
    </form>
  </body>
</html>