<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <form method="POST" action="/register">
    <fieldset>
      <legend>Register</legend>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" value="" placeholder="Enter your email" />
        </br>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="password" name="password" value="" placeholder="Enter your password" />
        </br>
        <button type="submit">Register</button>
      </fieldset>
    </form>
  </body>
</html>