<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header %>
  <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
  <!-- Form had some padding put Title in padding. -->
  <h1> Change your URL  </h1>
    <label for="longURL"></label>
    <input id="longURL" type="text" value="<%= longURL %>" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Update">
     <p> To go back to see your list click <a href="/urls"> here.</a></p>
  </form>
</body>
</html>